services:
  backend:
    container_name: backend
    image: backend:1.0.0
    env_file:
      - path: backend.env
    build:
      context: ./backend
      dockerfile: server.dockerfile
    ports:
      - '8080:8080'
    depends_on:
      - db
  db:
    container_name: db
    image: postgres:16.3
    restart: always
    env_file:
      - path: db.env
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}
